<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>The BookSTEM - Textbooks</title>

    <!-- Latest compiled and minified CSS -->
 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
     <!-- Latest compiled and minified JavaScript -->
 
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>

<body>


  <!-- Navigation -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">{{>navbar}}</nav>

  <!-- Page Content -->
  <div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
      <h1 class="display-3">Textbooks</h1>
      <p class="lead">BookSTEM's textbook database</p>

      <!-- Page Features -->
      <div class="row text-center"></div>

    </header>

  <!-- /.container -->

<!-- /.container -->
  <h2 class="display-5">Textbooks</h1>
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Language</th>
        <th scope="col">ISBN</th>
        <th scope="col">Genre</th>
        <th scope="col">In Stock</th>
      </tr>
    </thead>
    <tbody>
        {{#each textbooks}}
        <td>{{textbook_ID}}</td>
        <td>{{name}}</td>
        <td>{{author}}</td>
        <td>{{language}}</td>
        <td>{{ISBN}}</td>
        <td>{{genre}}</td>
        <td>{{in_stock}}</td>
        <td><button class="btn btn-primary"> Delete </button></td>
    </tbody>
    {{/each}}
  </table>

    <p><br /><br /></p>



    <h2>Add a New Textbook</h2>
<p>Fill each field to add a textbook to the database.</p>
<form id="addTextbook" action="/textbooks" method="post">
    <table>
        <tr>
            <td>
                Title:
            </td>
            <td><input type="text" name="title"></input></td>
        </tr>
        <tr>
            <td>
                Author: 
            </td>
            <td><input type="text" name="author"></td>
        </tr>
        <tr>
            <td>
                Language: 
            </td>
            <td><input type="text" name="language"></td>
        </tr>
        <tr>
            <td>
                ISBN: 
            </td>
            <td><input type="text" name="ISBN"></td>
        </tr>
        <tr>
            <td>
                Genre: 
            </td>
            <td><input type="text" name="genre"></td>
        </tr>
        <tr>
            <td>
                In Stock: 
            </td>
            <td><input type="text" name="in_stock"></td>
        </tr>
        <tr>
            <td>
                Publisher: 
            </td>
            <td>
                <select name="publisher">
                {{#each publishers}}
                <option value= "{{publisher_ID}}" >{{company_name}}</option>
                {{/each}}
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit" value="Submit" class="btn btn-primary">Submit</button>
            </td>
        </tr>
        
    </table>
</form>

<p><br /><br /></p>
